<template>
  <v-row>
    <v-col class="text-center" cols="12">
      <v-icon size="200" color="red">error</v-icon>
      <h1 class="display-1 font-weight-thin mb-4">404 ERROR</h1>
      <h4 class="subheading">Prueba de layout</h4>
      <v-btn class="mt-5" to="/"><h4 class="subheading">VOLVER A INICIO<v-icon dark>link</v-icon></h4></v-btn>
    </v-col>
  </v-row>
</template>

<script>
export default {
  components: {
  },
  data(){
    return {
    }
  }
}
</script>
