<template>
  <v-container fluid class="pa-0">
    <v-row
    align="center"
    justify="center"
    >
      <v-col class="text-center" cols="12">
        <h1 class="display-1 font-weight-thin mb-4">Sobre esta web</h1>
        <h4 class="subheading">Web de prueba complementado con:</h4>
      </v-col>
      <v-col class="text-center" cols="12" sm="6">
        <v-avatar color="teal" size="200">
          <span class="white--text display-3">Vuetify</span>
        </v-avatar>
      </v-col>
      <v-col class="text-center" cols="12">
        <v-btn to="/"><h4 class="subheading">VOLVER A INICIO<v-icon dark>link</v-icon></h4></v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>

export default {
  components: {
  },
  data(){
    return {
      parallaxHeight: window.innerHeight-64
    }
  }
}
</script>
