<template>
  <v-container>
    <v-row :height=windowHeight align="center" justify="center">
      <v-col class="text-center" cols="12">
        <v-img contain height="200" src="https://cdn.iconscout.com/icon/free/png-512/vue-282497.png" transition="scale-transition"/>
        <h1 class="display-1 font-weight-thin mb-4">INICIO</h1>
        <h4 class="subheading">VueJS</h4>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>

export default {
  components: {
  },
  data(){
    return {
      windowHeight: window.innerHeight
    }
  }
}
</script>
