<template>
  <!-- app sombreado de la barra -->
  <!-- <v-app-bar
    class="transparent"
  >
  <v-btn x-large text to="/">
    <v-icon size="50">
      desktop_windows
    </v-icon>
    <h1 class="display-1">VueJS</h1>
  </v-btn>
    <v-spacer></v-spacer>
    <v-tabs right>
      <v-tab to="/about"><v-icon>info</v-icon>About</v-tab>
      <v-tab to="/contact"><v-icon>contacts</v-icon>Contact</v-tab>
    </v-tabs>
  </v-app-bar> -->
  <!-- <v-card depressed tile height="64">

  </v-card> -->

  <v-container>
    <v-row>
      <v-col cols="12" align="center">
        <v-btn to="/" text>HOME</v-btn>
        <v-btn to="/about" text>ABOUT</v-btn>
        <v-btn to="/API" text>API</v-btn>
        <!-- <v-tabs center>
          <v-tab to="/"><v-icon>info</v-icon>Home</v-tab>
          <v-tab to="/about"><v-icon>info</v-icon>About</v-tab>
          <v-tab to="/contact"><v-icon>contacts</v-icon>Contact</v-tab>
        </v-tabs> -->
      </v-col>
    </v-row>
  </v-container>
</template>