<template>
  <div id="app">
    <component :is="layout">
      <router-view/>
    </component>
  </div>
</template>

<script>
const default_layout = 'default';

import {mapState} from 'vuex'

export default {
  name: 'App',
  data () {
    return {
    }
  },
  computed:{
    layout(){
      return(this.$route.meta.layout || default_layout) + "-layout"
    }
  }
};
</script>
