<template>
  <v-app>
    <Navbar/>
    <v-main>
      <slot/>
    </v-main>
  </v-app>
</template>

<script>
import Navbar from '@/components/Navbar'

export default {
  data: () => ({

  }),
  components:{
    Navbar
  }
};
</script>
