<template>
    <!-- <v-card :height=windowHeight color="red">
        <slot/>
    </v-card> -->
    <v-app>
        <v-card :height=windowHeight color="#FFEBEE">
            <v-main>
                <slot/>
            </v-main>
        </v-card>
    </v-app>
</template>

<script>

export default {
    data(){
        return {
        windowHeight: window.innerHeight
        }
    },
};
</script>